a {
  color: #885df1;
  font-weight: 400;
}
body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
footer {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 3px;
}
hr {
  margin-top: -40px;
  border: none;
  border-top: 1px solid rgb(249, 247, 254);
}
main h1 {
  font-size: 28px;
  font-weight: 900;
  padding: 25px 0 0 0;
}
main p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
strong {
  color: rgba(255, 0, 0, 0.8);
  font-weight: 600;
}
.container {
  border: 1px solid;
  border-radius: 10px;
  border-color: transparent;
  background-color: white;
  box-shadow: 3px 6px 15px 10px rgba(221, 213, 238, 0.2);
  display: block;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
}
.current-temperature {
  position: relative;
  display: block;
  right: -310px;
  top: -90px;
  font-size: 60px;
  font-weight: 700;
}
.degrees {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  bottom: 29px;
}
.headerBlock {
  display: block;
  margin: 0 10px 0 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  font-size: 30px;
  position: relative;
  left: -10px;
  top: -5px;
}
.search-input {
  width: 330px;
  background-color: #f9f7fe;
  border: transparent;
  border-radius: 5px;
  padding: 15px;
  font-size: 12px;
  color: #000;
}
.search-button {
  width: 70px;
  background-color: #885df1;
  color: white;
  border-radius: 5px;
  border: transparent;
  padding: 15px;
  font-size: 12px;
}
